body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url(../resources/wallpaper_placeholder.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
 }

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
}

.formulario {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    text-align: center;
}

#cuota {
    font-weight: bold;
    color: #007bff;
}
